name: Publish packages to NPM

on:
  release:
    types: [published]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          registry-url: "https://registry.npmjs.org"
      - run: pnpm install

      # pnpm will run scripts in topological order, ensuring that dependencies
      # are built before dependents. This will also build packages that are
      # irrelevant to the current release, but that's fine.
      - run: pnpm run --recursive build

      - if: startsWith(github.event.release.tag_name, 'scoutnet-v')
        working-directory: packages/scoutnet
        run: npm publish --provenance --access public

      - if: startsWith(github.event.release.tag_name, 'scoutnet-openapi-v')
        working-directory: packages/scoutnet-openapi
        run: npm publish --provenance --access public
